.container {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
}

.picture {
    height: auto;
    width: 400px;
    border-radius: 12px;
}

.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text {
    max-width: 540px;
}

.text .title {
    color: #333;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text h5 {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.text h5 span {
    color: #4070f4;
}

.text .description {
    color: #6c757d;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.btn_group {
    margin-top: 45px;
}

.hire_me {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    transition: 0.5s;
}

.hire_me:hover {
    background: #1f3982;
}

@media (max-width: 768px) {
    .title{
        text-align: center;
    }
}

