.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00798C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 32px;
    color: #fff;
}
